@font-face{
    font-family: 'comforta';
    font-style:normal;
    font-weight:300;
    src:url(s/comfortaa/v40/1Pt_g8LJRfWJmhDAuUsSQamb1W0lwk4S4TbMPrQ.ttf)
    format('truetype')
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: --;
    font-size: 32px;
    font-family: comforta
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom right, #00ff89, #ff9d00)
}

ul {
    position: relative;
    transform: skewY(-15deg)
}

ul.second {
    position: relative;
    transform: skewY(-15deg);
    left: 15vh
}

ul li {
    position: relative;
    list-style: none;
    width: 250px;
    background: #009dff;
    padding: 15px;
    z-index: var(--i);
    transition: .5s;

}

ul li img{
    position: absolute;
    left: -35px;
    bottom: 11px;
    width: 31px;
    height: 70%;
    transform-origin: right;
    transform: skewY(45deg)
}

ul li:hover {
    background: #0f4e24;
    transform: translateX(25px);
    box-shadow: inset 0 0 50px #0f52a4, inset 20px 0 80px #096de9, inset 20px 0 80px #096de9, inset 20px 0 80px #0f52a4, inset 20px 0 80px #096de9, inset 20px 0 80px #0f52a4, 0 0 50px #0f52a4, -10px 0 80px #096de9, 10px 0 80px #0f52a4
}

ul li:hover::before {
    background: #0f52a4;
    box-shadow: 0px 0px 10px #fff
}

ul li:hover::after {
    background: #0f52a4;
    box-shadow: 0px 0px 10px #fff
}

ul li::before {
    content: "";
    position: absolute;
    top: 0;
    left: -40px;
    width: 40px;
    height: 100%;
    background: #0c3669;
    transform-origin: right;
    transform: skewY(45deg);
    transition: .5s;
    box-shadow: 0px 0px 1px #fff
}

ul li::after {
    content: "";
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: 40px;
    background: #0f4382;
    transform-origin: bottom;
    transform: skewX(45deg);
    transition: .5s;
    box-shadow: 0px 0px 1px #fff
}

ui li a {
    text-decoration: none;
    color: #b7b7b7;
    display: block;
    letter-spacing: .05em;
    transition: .5s;
}

ul li:hover a {
    color: #fff;
}

ul li:last-child::after{
    box-shadow: -100px 100px 20px;
    rgb(10,10,10,.25)
}
